<!DOCTYPE html>
<html>

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <title>Users manager</title>
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="libs/vue/vue.js"></script>
  <script type="text/javascript" src="libs/axios/axios.js"></script>
  <script type="text/javascript" src="users.js"></script>
</head>

<body>
  <div id="app">

    <ul class="user-list">
      <li v-for="(user, index) in users">
        <div class="user-row">
          <div class="user-name"><b>{{ user.name }}</b></div>
          <div class="user-city"><i>{{ user.city }}</i></div>
        </div>
      </li>
    <ul align="center">
      <div class="user-row">

    <div>
    <input v-model="userid" placeholder="Iduser">
    <button class="x-button" v-on:click="dlt()">Delete</button>
   </div>
  
  </div>
 <div class="user-row">
    <div>
    <input v-model="username" placeholder="Name">
    <input v-model="usercity" placeholder="City">
    <button class="x-button" v-on:click="add()">Add</button>
    </div>
</div>
<div class="user-row">
    <div>
    <input v-model="userid" placeholder="Iduser">
    <input v-model="username" placeholder="Name">
    <input v-model="usercity" placeholder="City">
    <button class="x-button" v-on:click="update()">Edit</button>
    </div>
     </div> 
    </ul>
  </ul>


  </div>
  <script src="app.js"></script>
</body>

</html>